.footer {
    height: 45px;
    background-color: #020202;
}


@media(max-width:600px){

    .footer{
    
        font-size: 10px;
    }
    .footer p a{
        display: none;
        
    }
    
    }